* {
    font: "JetBrainsMono NF Bold 9";
    background: #282828CC;
    background-alt: #282828E0;
    foreground: #d4be98;
    selected: #7c6f64;
    active: #a9b665;
    urgent: #ea6962;
    text: #d4be98;
}
