* {
    font: " BebasNeue 14";
    background: #101110CC;
    background-alt: #101110E0;
    foreground: #c3c3c3;
    selected: #D85046;
    active: #E9582C;
    urgent: #A94239;
    text:  #c3c3c3;
}
