* {
    font: " BebasNeue 14";
    background: #120808CC;
    background-alt: #120808E0;
    foreground: #c3c1c1;
    selected: #A65230;
    active: #E21F0D;
    urgent: #CF140A;
    text:  #c3c1c1;
}
