// Variables generadas por Pywal16
$bg: #1e0f0d;
$bg-alt: #705f5c;
$fg: #c6c3c2;
$black: #1e0f0d;
$lightblack: #705f5c;
$red: #7f4f4a;
$green: #7f422d;
$yellow: #827b73;
$blue: #54577f;
$magenta: #78617b;
$cyan: #7f5b65;
$archicon: #7174aa; // Usamos un tono de azul/cyan brillante para el icono
$border: #aa7a87;   // Un color contrastante para los bordes
