// Variables generadas por Pywal16
$bg: #141312;
$bg-alt: #6f645a;
$fg: #c4c4c3;
$black: #141312;
$lightblack: #6f645a;
$red: #827b72;
$green: #33547f;
$yellow: #495f7f;
$blue: #5a677f;
$magenta: #696f7e;
$cyan: #7b7b7d;
$archicon: #798aaa; // Usamos un tono de azul/cyan brillante para el icono
$border: #a4a4a7;   // Un color contrastante para los bordes
