// Variables generadas por Pywal16
$bg: #131416;
$bg-alt: #5b6670;
$fg: #c4c4c4;
$black: #131416;
$lightblack: #5b6670;
$red: #7b8291;
$green: #575c7f;
$yellow: #666880;
$blue: #76707f;
$magenta: #8e818c;
$cyan: #866170;
$archicon: #9e96aa; // Usamos un tono de azul/cyan brillante para el icono
$border: #b38296;   // Un color contrastante para los bordes
